In [1]:
#imports
import pandas as pd
from tabula import read_pdf
import os
#settings
pd.set_option('display.max_columns', 0) # 0 = autodetect
pd.set_option('display.max_rows', 6000)

In [2]:
parent_directory = os.path.abspath(os.path.join(os.getcwd(), os.pardir))

# Define the path to the "Data" folder in the parent directory
data_folder = os.path.join(parent_directory, "Data")
raw_data_path = os.path.join(data_folder, "bee-data-RAW.csv")

In [3]:
raw_df = pd.read_csv(raw_data_path)

In [4]:
raw_df.head()

  Program  ...  HONEY, BEE COLONIES, RENOVATED - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>
0  SURVEY  ...                                                NaN
1  SURVEY  ...                                                NaN
2  SURVEY  ...                                                NaN
3  SURVEY  ...                                                NaN
4  SURVEY  ...                                                NaN

[5 rows x 44 columns]

In [5]:
raw_df.notnull().sum()

Program                                                                                                                    1559
Year                                                                                                                       1559
Period                                                                                                                     1559
Week Ending                                                                                                                   0
Geo Level                                                                                                                  1559
State                                                                                                                      1559
State ANSI                                                                                                                 1481
Ag District                                                                                                                   0
Ag District Code                                                                                                              0
County                                                                                                                        0
County ANSI                                                                                                                   0
Zip Code                                                                                                                      0
Region                                                                                                                        0
watershed_code                                                                                                             1559
Watershed                                                                                                                     0
Commodity                                                                                                                  1559
Domain                                                                                                                     1559
Domain Category                                                                                                            1559
HONEY, BEE COLONIES - ADDED & REPLACED, MEASURED IN COLONIES  -  <b>VALUE</b>                                              1557
HONEY, BEE COLONIES - ADDED & REPLACED, MEASURED IN COLONIES  -  <b>CV (%)</b>                                                0
HONEY, BEE COLONIES - INVENTORY, MAX, MEASURED IN COLONIES  -  <b>VALUE</b>                                                1512
HONEY, BEE COLONIES - INVENTORY, MAX, MEASURED IN COLONIES  -  <b>CV (%)</b>                                                  0
HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DISORDER, MEASURED IN COLONIES  -  <b>VALUE</b>                                 797
HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DISORDER, MEASURED IN COLONIES  -  <b>CV (%)</b>                                  0
HONEY, BEE COLONIES - LOSS, DEADOUT, MEASURED IN COLONIES  -  <b>VALUE</b>                                                 1557
HONEY, BEE COLONIES - LOSS, DEADOUT, MEASURED IN COLONIES  -  <b>CV (%)</b>                                                   0
HONEY, BEE COLONIES - LOSS, DEADOUT, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>                                          1557
HONEY, BEE COLONIES - LOSS, DEADOUT, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>                                            0
HONEY, BEE COLONIES, AFFECTED BY DISEASE - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>                         1545
HONEY, BEE COLONIES, AFFECTED BY DISEASE - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>                           0
HONEY, BEE COLONIES, AFFECTED BY OTHER CAUSES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>                    1545
HONEY, BEE COLONIES, AFFECTED BY OTHER CAUSES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>                      0
HONEY, BEE COLONIES, AFFECTED BY PESTICIDES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>                      1545
HONEY, BEE COLONIES, AFFECTED BY PESTICIDES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>                        0
HONEY, BEE COLONIES, AFFECTED BY PESTS ((EXCL VARROA MITES)) - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>     1545
HONEY, BEE COLONIES, AFFECTED BY PESTS ((EXCL VARROA MITES)) - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>       0
HONEY, BEE COLONIES, AFFECTED BY UNKNOWN CAUSES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>                  1545
HONEY, BEE COLONIES, AFFECTED BY UNKNOWN CAUSES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>                    0
HONEY, BEE COLONIES, AFFECTED BY VARROA MITES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>                    1545
HONEY, BEE COLONIES, AFFECTED BY VARROA MITES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>                      0
HONEY, BEE COLONIES, RENOVATED - INVENTORY, MEASURED IN COLONIES  -  <b>VALUE</b>                                          1534
HONEY, BEE COLONIES, RENOVATED - INVENTORY, MEASURED IN COLONIES  -  <b>CV (%)</b>                                            0
HONEY, BEE COLONIES, RENOVATED - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>                                   1557
HONEY, BEE COLONIES, RENOVATED - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>                                     0
dtype: int64

In [6]:
raw_df = raw_df.dropna(axis=1, how='all')

In [7]:
raw_df = raw_df[raw_df['Domain Category'] != 'INVENTORY OF BEE COLONIES: (LESS THAN 5 COLONIES)']

In [8]:
columns_to_remove = [col for col in raw_df.columns if 'CV' in col] + \
['Program', 'Geo Level', 'Domain Category', 'State ANSI', 'watershed_code', 'Commodity', 'Domain']
                                                                     
raw_df.drop(columns=columns_to_remove, inplace=True)

In [9]:
raw_df = raw_df.rename(columns={'HONEY, BEE COLONIES - ADDED & REPLACED, MEASURED IN COLONIES  -  <b>VALUE</b>' : 'Colonies_Added_And_Replaced',
                                'HONEY, BEE COLONIES - INVENTORY, MAX, MEASURED IN COLONIES  -  <b>VALUE</b>' : 'Max_Colonies',
                                'HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DISORDER, MEASURED IN COLONIES  -  <b>VALUE</b>' : 'Num_Affected_Colony_Collapse_Disorder',
                                'HONEY, BEE COLONIES - LOSS, DEADOUT, MEASURED IN COLONIES  -  <b>VALUE</b>' : 'Num_Affected_Deadout',
                                'HONEY, BEE COLONIES - LOSS, DEADOUT, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>' : 'Pct_Affected_Deadout',
                                'HONEY, BEE COLONIES, AFFECTED BY DISEASE - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>' : 'Pct_Affected_Disease',
                                'HONEY, BEE COLONIES, AFFECTED BY OTHER CAUSES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>' : 'Pct_Affected_Other',
                                'HONEY, BEE COLONIES, AFFECTED BY PESTICIDES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>' : 'Pct_Affected_Pesticides',
                                'HONEY, BEE COLONIES, AFFECTED BY PESTS ((EXCL VARROA MITES)) - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>' : 'Pct_Affected_Pests',
                                'HONEY, BEE COLONIES, AFFECTED BY UNKNOWN CAUSES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>' : 'Pct_Affected_Unknown',
                                'HONEY, BEE COLONIES, AFFECTED BY VARROA MITES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>' : 'Pct_Affected_Varroa_Mites',
                                'HONEY, BEE COLONIES, RENOVATED - INVENTORY, MEASURED IN COLONIES  -  <b>VALUE</b>' : 'Num_Renovated',
                                'HONEY, BEE COLONIES, RENOVATED - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>' : 'Pct_Renovated'
                               })

In [10]:
raw_df = raw_df.replace(',', '', regex=True)

In [11]:
raw_df.iloc[:, 3:] = raw_df.iloc[:, 3:].apply(pd.to_numeric, errors='coerce')

In [12]:
raw_df.head()

   Year        Period       State  ...  Pct_Affected_Varroa_Mites  Num_Renovated  Pct_Renovated
0  2023  APR THRU JUN    US TOTAL  ...                       50.9       478440.0           18.0
1  2023  APR THRU JUN     ALABAMA  ...                       37.1         3800.0           25.0
2  2023  APR THRU JUN     ARIZONA  ...                       15.4         2400.0            7.0
3  2023  APR THRU JUN    ARKANSAS  ...                       22.4         2200.0            9.0
4  2023  APR THRU JUN  CALIFORNIA  ...                       41.6       112000.0           12.0

[5 rows x 16 columns]

In [13]:
national_df = raw_df[(raw_df['State'] == 'US TOTAL')]
state_df = raw_df[(raw_df['State'] != 'US TOTAL')]

In [14]:
state_df = state_df.dropna(axis=1, how='all')
national_df = national_df.dropna(axis=1, how='all')

In [15]:
state_df['Period'] = state_df['Period'].map({
    'JAN THRU MAR': 'Q1',
    'APR THRU JUN': 'Q2',
    'JUL THRU SEP': 'Q3',
    'OCT THRU DEC': 'Q4',
})

national_df['Period'] = national_df['Period'].map({
    'JAN THRU MAR': 'Q1',
    'APR THRU JUN': 'Q2',
    'JUL THRU SEP': 'Q3',
    'OCT THRU DEC': 'Q4',
})

In [16]:
national_df['Quarter'] = national_df['Year'].astype(str) + '_' + national_df['Period']
state_df['Quarter'] = state_df['Year'].astype(str) + '_' + state_df['Period']

In [17]:
national_df = national_df.drop(columns=['Period', 'Year'])
state_df = state_df.drop(columns=['Period', 'Year'])

In [18]:
national_df = national_df[['Quarter'] + [col for col in national_df.columns if col != 'Quarter']]
state_df = state_df[['Quarter'] + [col for col in state_df.columns if col != 'Quarter']]

In [19]:
national_df = national_df.sort_values(by='Quarter', ascending=True)
state_df = state_df.sort_values(by='Quarter', ascending=True)

national_df = national_df.reset_index(drop=True)
state_df = state_df.reset_index(drop=True)  # Keep the state_df's index independent

In [20]:
state_df.head()

   Quarter       State  Colonies_Added_And_Replaced  ...  Pct_Affected_Varroa_Mites  Num_Renovated  Pct_Renovated
0  2015_Q1    MISSOURI                        220.0  ...                       13.1          910.0            7.0
1  2015_Q1    NEBRASKA                        120.0  ...                        5.9          310.0            1.0
2  2015_Q1  NEW JERSEY                        570.0  ...                       40.1         1600.0           18.0
3  2015_Q1  NEW MEXICO                        190.0  ...                       17.1          600.0            9.0
4  2015_Q1    NEW YORK                        430.0  ...                        7.6          950.0            3.0

[5 rows x 15 columns]

In [21]:
state_sum = state_df.groupby('Quarter')['Max_Colonies'].sum().reset_index()
national_df = national_df.merge(state_sum, on='Quarter', how='left')
national_df = national_df.rename(columns={'Max_Colonies_x': 'Max_Colonies'})

In [22]:
national_df.head()

   Quarter     State  Colonies_Added_And_Replaced  ...  Num_Renovated  Pct_Renovated  Max_Colonies
0  2015_Q1  US TOTAL                     546980.0  ...       270530.0           10.0     3619490.0
1  2015_Q2  US TOTAL                     661860.0  ...       692850.0           24.0     3909400.0
2  2015_Q3  US TOTAL                     172990.0  ...       303070.0           10.0     3535480.0
3  2015_Q4  US TOTAL                     117150.0  ...       158790.0            6.0     3717460.0
4  2016_Q1  US TOTAL                     571880.0  ...       245060.0            9.0     3309840.0

[5 rows x 15 columns]

In [23]:
state_file_path = os.path.join(data_folder, "state_data.csv")
national_file_path = os.path.join(data_folder, "national_data.csv")

state_df.to_csv(state_file_path, index=False)
national_df.to_csv(national_file_path, index=False)

print("Data Saved")